/*
Colour scheme:
dark green: teal darken-3 #00695c
light green: lime darken-2 #afb42b
yellow: amber lighten-2 #ffd54f
orange: deep-orange lighten-1 #ff7043
coral: red lighten-1 #ef5350
*/

blockquote {border-left: 5px solid #ffd54f}

.link {color: #ff7043 !important}

.para-heading {color: #afb42b !important}

.subtitle {
  color: #00695c !important;
}

.schedule {
  border: 1px solid #eee;
  background-color: #ff7043;
  color: white;
  line-height: 50px;
  margin-top: -20px;
  text-align: center;
}

.socmedia img {
  width: 70%;
  align-content: center;
}

#collapse {
  font-size: 1.1rem;
}
